.header-component {
    max-width: 100vw;
    height: 53vh;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.header-shape {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;

}

.header-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
    z-index: 1;
    margin-left: 6%;
    margin-right: 6%;
}

.nav-bar {
    display: flex;
    flex: 0.9;
    justify-content: space-between;
    background-color: var(--dark-blue-trans);
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: var(--light-green);
}

.nav-bar button:hover {
    cursor: pointer;
}

.toggle-nav-button {
    display: none;
}

/* media queries to hand collapsible nav bar */
@media screen and (max-width: 1330px) {
    .nav-bar.collapsed {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .toggle-nav-button {
        display: block;
        position: absolute;
        top: 20%;
        right: -4%;
    }

    #dropdown-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 41%;
        right: 0%;
    }

}