.header-component {
    max-width: 100vw;
    height: 53vh;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.header-shape {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;

}

.header-content {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    position: relative;
    z-index: 1;
}